/* body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
 */

@import-normalize;

:root {
  --bg-color: #fc8c03;
}

@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

* {
  background: #202020;
  font-family: "Poppins";
  color: #ffff;
}

.header {
  text-align: center;
  margin: 1em;
  font-size: 2em;
}

.title {
  color: var(--bg-color);
}

.prod-desc-div {
  display: flex;
  align-items: center;
  justify-content: center;
}

::placeholder {
  color: #ffff;
  font-size: 1.3em;
}

.product-description {
  color: #ffff;
  padding: 1.3em;
  line-height: 1.2;
  font-size: 1em;
  border-radius: 5px;
  box-shadow: 1px 1px 1px rgb(238, 223, 223);
  /* border: none; */
}

.btn-div {
  margin: 1em;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.btn-generate {
  background-color: var(--bg-color);
  padding: 1em;
  width: 13em;
  border-radius: 1.2em;
  border: none;
  box-shadow: 1px 1px 1px var(--bg-color);
  font-size: 1em;
  text-transform: uppercase;
  text-align: center;
}

/* .main-div {
  position: relative;
}

.response-modal {
  width: 400px;
  height: auto;
  background-color: var(--bg-color);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5em;
  box-shadow: 1px 1px 1px var(--bg-color);
  border-radius: 1em;
} */

.response-div {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1em;
  letter-spacing: 0.3em;
  margin: 2em;
  text-transform: uppercase;
}
